<% include ../partials/header %>

<h1>Add new comment to <%= campground.name %></h1>

<div class="container">
        <div style="width: 70%; margin: 0 auto;">
            <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
                <div class="form-group">
                    <label> Comment </label>
                    <textarea class="form-control" type="text" name="comment[text]" rows="10"></textarea>
                </div>

                <button class="btn btn-md btn-primary btn-block"> Submit! </button>
            </form>
            
            <a href="/campgrounds/<%= campground._id %>">Go back</a>
        </div>
        

</div>



<% include ../partials/footer %>